body {
  background-image: url(https://cdn.pixabay.com/photo/2023/08/29/18/01/rainbow-8221835_960_720.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}

.content {
  background-color: rgba(43, 43, 43, 0.669);
  color: aliceblue;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  }

.main-buttons, .signup, .submit-form{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  gap: 10px;
  margin-top: 20px;
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.day-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.day-button,
.clear {
  width: 85px;
}

.planner {
  padding: 5px;
  margin: 5px;
  background-color: grey;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hour-block {
  background-color: rgb(225, 111, 253);
  border-radius: 2px;
  height: 50px;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
}

.hour-block:hover {
  background-color: rgb(200, 76, 231);
}

.box-outer {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  background-color: grey;
  text-align: center;
  margin: 30px 30% 0;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 8px;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  text-align: left;
}

footer {
  background-color: #383838;
  color: white;
  padding: 10px 0px;
  text-align: center;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  body {
    background-size: auto;
  }

  .day-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .day-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
