body {
  background-image: url(https://images.unsplash.com/photo-1725402346958-ea04d6b7b657?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(86, 55, 18);
}

h1 {
  text-align: center;
  font-weight: 700;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  gap: 10px;
  color: rgb(222, 211, 199);
  border-radius: 5px;
  padding: 10px;
}

.main-buttons button:hover,
.clear:hover {
  background-color: rgb(241, 214, 150);
  color: rgb(86, 55, 18);
}

.day-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.day-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgba(201, 156, 83, 0.669);
}

.day-button,
.clear {
  width: 85px;
  cursor: pointer;
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
}

.day-button:hover,
.clear:hover {
  color: rgb(67, 48, 25);
  background-color: rgba(201, 156, 83, 0.669);
}

.planner {
  padding: 5px;
  margin: 5px;
  background-color: rgb(142, 113, 46);
  border-radius: 8px;
}

.hour-block {
  background-color: rgb(234, 180, 71);
  border-radius: 2px;
  height: 50px;
  margin: 1px;
}

footer {
  background-color: #383838;
  color: white;
  padding: 10px 0px;
  text-align: center;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  body {
    background-size: auto;
  }

  .day-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .day-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  footer {
    padding: 10px;
  }
}
